/backend/backend/secrets.py
/backend/backend/db.sqlite3
/elasticsearch-dir/*
/backend/backend/media/profile/*
/backend/backend/media/uploads/*
venv/*
c
useful.txt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
